html {
	height: 100%;
	position: relative;
}

body {
	min-height: 100%;
	background: radial-gradient(transparent, black) no-repeat fixed, url(images/pattern3.jpg) repeat;
	margin: 0px;
	padding: 0px;
	font-family: Roboto;
	position: relative;

}

.container {
	height: auto;
	background-color: #fffdd0;
	box-shadow: 1px 1px 10px 1px rgba(0,0,0,.9);
	padding-bottom: 5px;
}


.carousel-control.right {
    right: 26px;
}

.text-muted {
	font-size: 10px;
	text-align: center;
	margin-bottom: 0;
}

.list-inline li {
	margin-left: 14px;
	text-align: center;
	margin-top: 8px;
	padding: 0px;
}

.custome2 a{
	text-decoration: none;
	color: black;
}

.custome {
	text-align: justify;
    margin-top: 34px;
}

.custome img {
	padding-top: 9px;
}

.info {
	font-size: 12px;
}

.logo {
	margin-left: 18px;
}

.warna {
	background-color: cornsilk;
}

.head {
	text-align: center;
}

.paketinfo {
	font-size: 11px;
}

.justify {
	text-align: justify;
	margin-bottom: 0px;
}

.margintop {
	margin-top: 6px;
}

.marginall {
	margin-top: 15px;
}

 
.footer{
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 23px;
}

.nav-pills>li>a,
.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover{
	background-color: transparent;
	color: #f3a04d;
	font-size: 20px;
}

#mainmenu {
	font-family: Pacifico;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
	color: #f3a04d;
	font-size: 20px;
}

#carousel-example-generic {
	margin-bottom: 10px;
}

.carousel-control:focus, .carousel-control:hover {
	border-radius: 5px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
	border-radius: 5px;
}

.carousel-control {
	border-radius: 5px;
}

#info {
	padding-top: 20px;
}

.paddingall {
	padding: 5px;
}

#info>li>img {
	float: left;
}

#info>li {
	height: 48px;
}

#info>li>div {
	padding-top: 9px;
	word-wrap: break-word;
    width: 208px;
}

#info>li>#address {
	padding-top: 0px;
}

#margininfo {
	margin-bottom:10px;
}

.top-buffer { 
	margin-top:20px; 
}

@media (min-width: 992px){
	.container {
		width: 925px;
	}
}

@media (min-width: 992px){
	.infomd {
		width: 925px;
	}
}

@media (min-width: 768px){
	.imgcustome img{
		width: 700px;
		margin: 0 auto;
	}
}

@media (min-width: 768px){
	.carousel-control.right {
		right: 0px;
	}
}

@media (min-width: 768px){
	.logosm {
		width: 925px;
	}
}